
grön#063607
röd#ce0b0b
grå#dde3e9
main {
 width: 80%;
 margin: 0 auto;

}
body {
padding-left: 150px;
font-size: 16px;
background-color: #063607;


}

section{
	width:65%;
	margin: 0 auto;
}


header {
  color:#ce0b0b;
  
 

}

img {
	color: white;
}

.columns {
 padding-left: 10%;
 margin-top: 100px;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr; /* fraction*/


} 

nav  { 

 width: 80%;
 font-size: 1em;
 position: fixed;
 background-color: #dde3e9 ;
 top: 0px;

}
nav > ul > li {
	
	list-style: none;
	display: inline;
	padding-left: 30px;
	height: 15px;	
}

li > a {
	
	
	font-family: 'Merriweather', serif;
	text-decoration: none;
	color: black;
}

li > a:hover {
	color: #ce0b0b;
}

 h1 {
 	
 
 	width:935px;
 	padding-left: 280px;
 	font-family: 'Merriweather', serif;
 	color: #dde3e9; 
 	background-color: #ce0b0b;
 	font-size: 5em;
 	
 	top: 20px;
}

h2 {

	font-size:1em;
	font-family: 'Merriweather Sans', sans-serif;
color: #dde3e9;
}

h3 {
	font-family: 'Merriweather', serif;
 	color: #dde3e9;  
 	font-size: 1em;
}
h4 {
	font-family: 'Merriweather', serif;
 	color: #dde3e9;  
 	font-size: 2em;
}

h5 {
	text-align: center;
	font-family: 'Merriweather', serif;
    color: #063607;
    font-size: 2em;

}

h6 {
    text-align: center;
	font-family: 'Merriweather', serif;
    color: #063607;
    font-size: 1em;

}


p{ 
font-family: 'Merriweather Sans', sans-serif;
color: #dde3e9;
font-size: 1em;


 }


div {
	height: 300px;
}

br {

	height: 500px;
}

.kontaktuppgifter{
 background-color: #dde3e9;
 width: 70%;

}


#snow {
  height: 180%;
  width: 80%;
  position: absolute;
  background-image: url(http://gdurl.com/dIoP),
  url(http://gdurl.com/G5Vp),
  url(http://gdurl.com/m9Yz);
  z-index: 1;
  pointer-events: none;
  -moz-animation: snow 10s linear infinite;
  -webkit-animation: snow 10s linear infinite;
  animation: snow 10s linear infinite;

}

@-moz-keyframes snow {
  0% { background-position: 0 0, 0 0, 0 0; }
  100% { background-position: 500px 1000px, 0 400px, 0 300px; }
}

@-webkit-keyframes snow {
  0% { background-position: 0 0, 0 0, 0 0; }
  100% { background-position: 500px 1000px, 0 400px, 0 300px; }
}

@keyframes snow {
  0% { background-position: 0 0, 0 0, 0 0; }
  100% { background-position: 500px 1000px, 0 400px, 0 300px; }
}
